#back-button,
#forward-button {
  padding: 0px !important;
  -moz-padding-start: 0px !important;
  -moz-padding-end: 0px !important;
  width: 42px !important;
  height: 42px !important;
}

#forward-button {
  margin-left: -10px !important;
}

#back-button .toolbarbutton-icon {
  list-style-image: url("images/back.png") !important;
  width: 100% !important;
  height: 100% !important;
}

#forward-button .toolbarbutton-icon {
  list-style-image: url("images/back.png") !important;
  transform: scaleX(-1) !important;
  width: 100% !important;
  height: 100% !important;
}

#reload-button .toolbarbutton-icon {
  list-style-image: url("images/refresh.png") !important;
  fill: #FFFFFF !important;
  stroke: #FFFFFF !important;
}

#stop-button .toolbarbutton-icon {
  list-style-image: url("images/stop.png") !important;
  fill: #FF0000 !important; /* Example: make the stop icon red */
  stroke: #FF0000 !important;
}

#back-button:hover > .toolbarbutton-icon,
#forward-button:hover > .toolbarbutton-icon,
#history-panelmenu:hover > .toolbarbutton-icon{
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
}

#home-button .toolbarbutton-icon {
  list-style-image: url("images/home.png") !important;
  width: 24px !important;
  height: 24px !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  list-style-image: url("images/menu.png") !important;
  width: 24px !important;
  height: 24px !important;
}

#bookmarks-menu-button {
  list-style-image: url("images/star.png") !important;
  display: -moz-box !important;
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
}

#history-panelmenu .toolbarbutton-icon {
  list-style-image: url("images/down.png") !important;
  width: 32px !important;
  height: 32px !important;
}

#history-panelmenu {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

#email-link-button .toolbarbutton-icon {
  list-style-image: url("images/email.png") !important;
  width: 24px !important;
  height: 24px !important;
}

#print-button .toolbarbutton-icon {
  list-style-image: url("images/print.png") !important;
  width: 24px !important;
  height: 24px !important;
}

/* Hide the default icons */
#reload-button .toolbarbutton-icon,
#stop-button .toolbarbutton-icon {
  -moz-appearance: none !important;
}

#reload-button, #stop-button{
  padding: -1px !important;
  width: 40px !important;
  height: 40px !important;
}

#star-button .toolbarbutton-icon {
  list-style-image: url("images/star.png") !important;
  width: 100% !important;
  height: 100% !important;
}

#tracking-protection-icon-box {
  display: none !important;
}

#tracking-protection-icon-container {
  display: none !important;
}

.titlebar-spacer {
  display: none !important;
}
